server:
  port: ${PORT:5001}
  error:
    whitelabel:
      enabled: false
spring:
  application:
    name: resource-service
  aop:
    proxy-target-class: false
  main:
    allow-bean-definition-overriding: true
  web:
    locale: en
    resources:
      add-mappings: false
  profiles:
    active: ${SPRING_ACTIVE_PROFILES:dev}
  jmx:
    enabled: false
  jms:
    template:
      default-destination: ${configuration.aws.sqs.queue}
    listener:
      acknowledge-mode: CLIENT
      concurrency: 3
      max-concurrency: 10
  mvc:
    throw-exception-if-no-handler-found: true
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.web.servlet.error.ErrorMvcAutoConfiguration
  output:
    ansi:
      enabled: detect
  sql:
    init:
      platform: postgres
  datasource:
    driverClassName: org.postgresql.Driver
    url: ${JDBC_DATABASE_URL}
    username: ${JDBC_DATABASE_USERNAME}
    password: ${JDBC_DATABASE_PASSWORD}
    hikari:
      auto-commit: false
  flyway:
    url: ${spring.datasource.url}
    user: ${spring.datasource.username}
    password: ${spring.datasource.password}
    enabled: true
    baseline-on-migrate: true
    baseline-version: 0.0
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 15MB

resilience4j:
  retry:
    instances:
      resource-created:
        max-attempts: 5
        wait-duration: 5s


configuration:
  aws:
    url: ${AWS_URL}
    region: ${AWS_DEFAULT_REGION}
    access-key: ${AWS_ACCESS_KEY}
    secret-key: ${AWS_SECRET_KEY}
    s3:
      bucket: ${AWS_S3_BUCKET_NAME}
    sqs:
      queue: ${AWS_SQS_QUEUE_NAME}
